@{
    ViewBag.Titulo = "Lista de menús SGD";
}

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title text-bold">Filtros de búsqueda</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="txt-filtro-nombre">Nombre</label>
                    <input type="text" name="filtro-nombre" id="txt-filtro-nombre" class="form-control" placeholder="Nombre">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="txt-filtro-url">Url</label>
                    <input type="text" name="filtro-url" id="txt-filtro-url" class="form-control" placeholder="Url">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="txt-filtro-nombremenupadre">Nombre Menú Padre</label>
                    <input type="text" name="filtro-nombremenupadre" id="txt-filtro-nombremenupadre" class="form-control" placeholder="Nombre Menú Padre">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <a href="@Url.Action("nuevo", "sgd-menu")" class="btn btn-primary">Nuevo</a>
        <button type="button" id="btn-buscar" class="btn btn-secondary">Buscar</button>
    </div>
</div>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title text-bold">Resultados</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="tbl-resultados" class="table table-striped table-bordered table-sm"></table>
    </div>
</div>

@section links{
    <link rel="stylesheet" href="@Url.Content("~/Assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}

@section scripts{
    <script src="@Url.Content("~/Assets/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Assets/dist/js/pages/sgd-menu.js")"></script>
    <script>
        $(function () {
            menuSGDPage.init();
        });
    </script>
}