@using SGD.Util
@{
    ViewBag.Titulo = ViewBag.TipoMantenimiento == (int)Enumeracion.TipoMantenimiento.Nuevo ? "Nuevo Menú SGD" : "Editar Menú SGD";
}

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title text-bold">Datos del menu</h3>
    </div>
    <div class="card-body">
        <form id="frm-registro" novalidate autocomplete="off">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="txt-nombre">Nombre</label>
                        <input type="text" name="nombre" id="txt-nombre" class="form-control" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="txt-url">Url</label>
                        <input type="text" name="url" id="txt-url" class="form-control" placeholder="Url">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="txt-icono">Icono</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span id="spn-icono" class="fas fa-icons"></span>
                                </div>
                            </div>
                            <input type="text" name="icono" id="txt-icono" class="form-control" placeholder="Icono">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cmb-menuidpadre">Menú Padre</label>
                        <select name="menuidpadre" id="cmb-menuidpadre" class="form-control" disabled></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-right">
        <button type="submit" id="btn-guardar" form="frm-registro" class="btn btn-primary">Guardar</button>
        <button type="button" id="btn-cancelar" class="btn btn-danger">Cancelar</button>
    </div>
</div>

@section links{
    <link rel="stylesheet" href="@Url.Content("~/Assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/plugins/select2/css/select2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")">
}

@section scripts{
    <script src="@Url.Content("~/Assets/plugins/jquery-validation/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/jquery-validation/additional-methods.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/select2/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Assets/dist/js/pages/mantenimiento-sgd-menu.js")"></script>

    <script>
        const tipoMantenimiento = @(ViewBag.TipoMantenimiento);
        const nuevoTipoMantenimiento = @((int)Enumeracion.TipoMantenimiento.Nuevo);
        const editarTipoMantenimiento = @((int)Enumeracion.TipoMantenimiento.Editar);
        const menuId = @(Request.RequestContext.RouteData.Values["id"] != null ? Request.RequestContext.RouteData.Values["id"].ToString() : "null");
        const menuIdPadre = @(Request.RequestContext.RouteData.Values["idPadre"] != null ? Request.RequestContext.RouteData.Values["idPadre"].ToString() : "null");
        $(function () {
            menuSGDMantenimientoPage.init();
        });
    </script>
}